In [98]:
from Crypto.PublicKey import RSA
from Crypto.Cipher import PKCS1_OAEP
import binascii
import numpy as np
import pandas as pd
import time

In [99]:
keyPair = RSA.generate(1024)

In [100]:
pubKey = keyPair.publickey()
print(f"Public key:  (n={hex(pubKey.n)}, e={hex(pubKey.e)})")
pubKeyPEM = pubKey.exportKey()
print(pubKeyPEM.decode('ascii'))

Public key:  (n=0xa94f975cd2d4663f5300b17ac7105744cfcc65877f5bd56b0c99912e8de252e5165622cb35698aec555e72613aefe519fa8e165857f08e0125efe38e0818f2eae7c2ca631fdf4ca64c3a23e0d032c14c9e6b4bd1905a8544e5a1533b8fa95c5d185c3452092e2893bb9a0bb469ddede7aeea115ff290b6426007f3124c483847, e=0x10001)
-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCpT5dc0tRmP1MAsXrHEFdEz8xl
h39b1WsMmZEujeJS5RZWIss1aYrsVV5yYTrv5Rn6jhZYV/COASXv444IGPLq58LK
Yx/fTKZMOiPg0DLBTJ5rS9GQWoVE5aFTO4+pXF0YXDRSCS4ok7uaC7Rp3e3nruoR
X/KQtkJgB/MSTEg4RwIDAQAB
-----END PUBLIC KEY-----

In [101]:
print(f"Private key: (n={hex(pubKey.n)}, d={hex(keyPair.d)})")
privKeyPEM = keyPair.exportKey()
print(privKeyPEM.decode('ascii'))

Private key: (n=0xa94f975cd2d4663f5300b17ac7105744cfcc65877f5bd56b0c99912e8de252e5165622cb35698aec555e72613aefe519fa8e165857f08e0125efe38e0818f2eae7c2ca631fdf4ca64c3a23e0d032c14c9e6b4bd1905a8544e5a1533b8fa95c5d185c3452092e2893bb9a0bb469ddede7aeea115ff290b6426007f3124c483847, d=0x4210f9aa51e669a38a1afa2643a91fb48d355fe4d890981db683f1ffed8383ff3a910ff0a57df2a4b7c72bf0bed3bf5d3cc4d6f9500f610a17a89cedde4106007a30e011d243d00be1dbcd52b425b93b40ebffd48867870d6c22bbcb8ad8504bcc50e177800751407f04281e7a1f88438699de4512b4332e64be86155bd25419)
-----BEGIN RSA PRIVATE KEY-----
MIICXQIBAAKBgQCpT5dc0tRmP1MAsXrHEFdEz8xlh39b1WsMmZEujeJS5RZWIss1
aYrsVV5yYTrv5Rn6jhZYV/COASXv444IGPLq58LKYx/fTKZMOiPg0DLBTJ5rS9GQ
WoVE5aFTO4+pXF0YXDRSCS4ok7uaC7Rp3e3nruoRX/KQtkJgB/MSTEg4RwIDAQAB
AoGAQhD5qlHmaaOKGvomQ6kftI01X+TYkJgdtoPx/+2Dg/86kQ/wpX3ypLfHK/C+
079dPMTW+VAPYQoXqJzt3kEGAHow4BHSQ9AL4dvNUrQluTtA6//UiGeHDWwiu8uK
2FBLzFDhd4AHUUB/BCgeeh+IQ4aZ3kUStDMuZL6GFVvSVBkCQQC5eT8L74SriikC
JWcpcSK5/TwEEKh0ZAFgyfzxFKs/c619NwjudH3dPvZduFmGu4Qy9flZPexGjkbX
s8PcIFZTAkEA6bEANPWdoHt4FNXMF/ixl9LVo2KGIp6Bn14ZkvsCU3K8ddc2K2J4
2iRMt3Axorj9cBtoF1p8CO3evNZYzMvvvQJAQzA9+5fn6rBhDKr6BRQ77T5kSGC0
dX1o1mQ1oivHoXPJTEvsi11d3xEY9Hh8zgcN69wZWQ/KkQCnfypa8FoyiwJBAIx4
iulKor9uuFW91fqq0QW0BBs8A+kXYk9Lnw/Mti83DrW+8Z7OiFqH611woUVw8VbM
ApvXFiu/4F2ecq5X//kCQQCVFnsq2LjAkdjKEwuk0g+aVEnZRol+gMiCmU4c/Jw3
ox5kxvGUjMijLdfWT0NRiL6tUPwRk2/suk4pgCWHnGxg
-----END RSA PRIVATE KEY-----

In [102]:
msg = 'A message for encryption'.encode()
encryptor = PKCS1_OAEP.new(pubKey)
encrypted = encryptor.encrypt(msg)
print("Encrypted:", binascii.hexlify(encrypted))

Encrypted: b'081cea13aef0d53f552f7274d0a34c979fc980c275af054c91bae234354c216271d4dd18bed3e429de1d73754c3f1c7ce8910a501c2e556d917d479b3b994c7b41e950a67453c74c03120c1b59d4a3d2d124356708856cc574f724873e87c905942eb3ca1561da1b69b97e84cc82d71d90f3cfd42c53f8c8f2141969e2e78cf7'

In [103]:
decryptor = PKCS1_OAEP.new(keyPair)
decrypted = decryptor.decrypt(encrypted)
print('Decrypted:', decrypted.decode())

Decrypted: A message for encryption

In [104]:
def encryption(msg):
    msg = msg.encode('utf-8')
    encryptor = PKCS1_OAEP.new(pubKey)
    encrypted = encryptor.encrypt(msg)
    #print("Encrypted:", binascii.hexlify(encrypted))
    return encrypted

In [105]:
def decryption(encrypted):
    decryptor = PKCS1_OAEP.new(keyPair)
    decrypted = decryptor.decrypt(encrypted)
    #print('Decrypted:', decrypted.decode())
    return decrypted.decode()

In [106]:
# a=['abc','asv','dccd00','def6']
# for ele in a:
#     print(ele)
#     a=encryption(ele)
#     b=decryption(a)

In [107]:
df=pd.read_csv("churn1.csv")

C:\Users\admin\Anaconda3\envs\tf\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1,3,5,6,7,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RowNumber              10000 non-null  float64
 1   CustomerId             10000 non-null  object
 2   CustomerId_ref_number  10000 non-null  float64
 3   Surname                10000 non-null  object
 4   CreditScore            10000 non-null  float64
 5   Geography              10000 non-null  object
 6   CountryCode            10000 non-null  object
 7   Gender                 10000 non-null  object
 8   Age                    10000 non-null  float64
 9   Tenure                 10000 non-null  float64
 10  Balance                10000 non-null  float64
 11  NumOfProducts          10000 non-null  float64
 12  HasCrCard              10000 non-null  float64
 13  IsActiveMember         10000 non-null  float64
 14  EstimatedSalary        10000 non-null  float64
 15  Exited                 10000 non-null  float64
 16  Unnamed: 16            0 non-null      float64
 17  Unnamed: 17            2 non-null      object
 18  Unnamed: 18            1 non-null      object
dtypes: float64(12), object(7)
memory usage: 152.0+ MB

The above dataset contains certain important information like credit score, credit card status of every customer in a dataset. Therefore, customer ID and surname in this dataset needs to be encrypted

In [109]:
df.drop(columns=['RowNumber','CustomerId_ref_number','Unnamed: 16','Unnamed: 17','Unnamed: 18'],axis=1,inplace=True)

In [110]:
df.head()

,CustomerId,Surname,CreditScore,Geography,CountryCode,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,FRA15634602,Hargrave,619.0,France,FRA,Female,42.0,2.0,0.00,1.0,1.0,1.0,101348.88,1.0
1,SPA15647311,Hill,608.0,Spain,SPA,Female,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58,0.0
2,FRA15619304,Onio,502.0,France,FRA,Female,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57,1.0
3,FRA15701354,Boni,699.0,France,FRA,Female,39.0,1.0,0.00,2.0,0.0,0.0,93826.63,0.0
4,SPA15737888,Mitchell,850.0,Spain,SPA,Female,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10,0.0

In [111]:
df.drop(df.index[10000:],inplace=True)

In [112]:
df.CustomerId.nunique()

10000

In [113]:
val=df.CustomerId

In [114]:
ans_enc=[]
ans_dec=[]
ans_time_enc=[]
ans_time_dec=[]
for i in range(len(val)):
    start1 = time.perf_counter()
    encrypted=encryption(val[i])
    stop1 = time.perf_counter()
    #print(stop1,start1)
    #print("Time for encryption of ",val[i],"is ",stop1 - start1)
    #time.sleep(0.001)
    start2 = time.perf_counter()
    decrypted=decryption(encrypted)
    stop2= time.perf_counter()
    #print(start2,stop2)
    #print("Time for decryption of ",decrypted,"is ",stop2 - start2)
    #print("Before Encryption: ",val[i])
    #print("After Encryption : ",encrypted)
    #print("Before Decryption: ",encrypted)
    #print("After Decryption : ",decrypted)
    #print()
    ans_time_enc.append(stop1-start1)
    ans_time_dec.append(stop2-start2)
    ans_enc.append(encrypted)
    ans_dec.append(decrypted)

In [117]:
# ans_time_dec

In [119]:
name_enc=[]
name_dec=[]
name_time_enc=[]
name_time_dec=[]
val=df.Surname
for i in range(len(val)):
    start1 = time.perf_counter()
    encrypted=encryption(val[i])
    stop1 = time.perf_counter()
    #time.sleep(0.3)
    start2 = time.perf_counter()
    decrypted=decryption(encrypted)
    stop2= time.perf_counter()
    name_time_enc.append(stop1-start1)
    name_time_dec.append(stop2-start2)
    name_enc.append(encrypted)
    name_dec.append(decrypted)

In [121]:
encryption_time_customerid_series=pd.Series(ans_time_enc)
decryption_time_customerid_series=pd.Series(ans_time_dec)

encryption_time_surname_series=pd.Series(name_time_enc)
decryption_time_surname_series=pd.Series(name_time_dec)

In [123]:
temp_time_arr_enc_custid=np.array(ans_time_enc)
temp_time_arr_enc_surname=np.array(name_time_enc)
temp_time_arr_dec_surname=np.array(ans_time_dec)
temp_time_arr_dec_custid=np.array(name_time_dec)
print("There are ",len(name_enc),"values of surnames and customer IDs in the dataset")
print("Total time for encryption of Customer IDs is    : ",np.sum(temp_time_arr_enc_custid),"seconds")
print("Average time for encryption of 1 Customer ID is : ",np.average(temp_time_arr_enc_custid),"seconds")
print()
print("Total time decryption of customer IDs is        : ",np.sum(temp_time_arr_dec_custid),"seconds")
print("Average time for decryption of 1 customer ID is : ",np.average(temp_time_arr_dec_custid),"seconds")
print()
print("Total time for encryption of Surnames is        : ",np.sum(temp_time_arr_enc_surname),"seconds")
print("Average time for encryption of 1 Surname is     : ",np.average(temp_time_arr_enc_custid),"seconds")
print()
print("Total time for decryption of Surnames is        : ",np.sum(temp_time_arr_dec_surname),"seconds")
print('Average time for decryption of 1 Surname is     : ',np.average(temp_time_arr_dec_surname),"seconds")

There are  10000 values of surnames and customer IDs in the dataset
Total time for encryption of Customer IDs is    :  5.929811699996208 seconds
Average time for encryption of 1 Customer ID is :  0.0005929811699996207 seconds

Total time decryption of customer IDs is        :  20.341494699943723 seconds
Average time for decryption of 1 customer ID is :  0.0020341494699943723 seconds

Total time for encryption of Surnames is        :  6.06076190002932 seconds
Average time for encryption of 1 Surname is     :  0.0005929811699996207 seconds

Total time for decryption of Surnames is        :  19.95133949998126 seconds
Average time for decryption of 1 Surname is     :  0.001995133949998126 seconds